.displayRowStart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.cartContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  overflow: scroll;
}

.card {
  margin: 20px 0px 20px 0px;
  width: 65%;
}

.borderBox {
  border: 2px solid #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}

.description {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.size {
  border: 2px solid #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}

.quantityContainer {
  width: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.quantityPlus {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: #0d0c22;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
}

.quantityMinus {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: #f2f2f2;
}

.productRemove {
  border: 2px solid #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}

/* cart footer style starts */
.footerBorderBox {
  border: 2px solid #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.couponBox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.footer {
  margin-top: 20px;
  flex-direction: row;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.button {
  border: 0px;
  height: 50px;
  width: 150px;
  justify-content: center;
  align-items: center;
}

.checkoutIcon {
  margin-left: 1px;
  height: 50px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #52c41a;
}

@media only screen and (max-width: 900px) {
  .cart {
    width: 100%;
  }
}
